.row-fluid
	%form#sigular-regex.well{:method => 'POST', :action => 'save'}
		%fieldset
			%legend Message (JSON) 
			.control-group
				%label Short describption of this regex
				%input.span12{:type => 'text', :name => 'description', :id => 'description'}
			
			.form-action
				%a.btn.btn-primary#more-test 
					%i.icon-plus					
					Send

		%fieldset#test-string-wrap
			.control-group.test-string.row-fluid	
				Old message here	
				
					